@import "./base.css";
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}
.container {
  width: 100%;
  padding-right: calc(3rem * .5);
  padding-left: calc(3rem * .5);
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
.headline {
  font-size: 2rem;
  padding: 15px 0;
}